{% extends "home/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/documents.css' %}">
{% endblock %}

{% block content %}
<div class="documents-container">
    <h2>Банк документов</h2>
    <div class="search-bar">
    <input type="text" id="documents-search-bar" placeholder="🔍 Поиск документов">
    </div>
    <div class="document-list">
        {% for document in documents %}
        <div class="document-item">
            <a href="{% url 'edit_document' document.pk %}">
                <h3>{{ document.title }}</h3>
                <p class="document-description">{{ document.description }}</p>
                <ul>
                    {% for tag in document.tags.all %}
                    <li>{{ tag.name }}</li>
                    {% endfor %}
                </ul>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<script>
document.addEventListener("DOMContentLoaded", function () {
    const searchBar = document.getElementById("documents-search-bar");
    if (searchBar) {
        searchBar.addEventListener("input", function () {
            const searchQuery = this.value.toLowerCase();
            const documents = document.querySelectorAll(".document-item");

            documents.forEach((doc) => {
                const title = doc.querySelector("h3").innerText.toLowerCase(); // Название документа
                const description = doc.querySelector(".document-description").innerText.toLowerCase(); // Описание документа
                
                if (title.includes(searchQuery) || description.includes(searchQuery)) {
                    doc.style.display = "block"; // Показываем совпавшие элементы
                } else {
                    doc.style.display = "none"; // Скрываем остальные
                }
            });
        });
    }
});
</script>
{% endblock %}
