{% extends "home/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/questions.css' %}">
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/questions.js' %}"></script>
{% endblock %}
{% block content %}
<div class="questions-container">
    <h2>Банк вопросов</h2>
    <div class="search-bar">
        <input type="text" id="search-bar" placeholder="🔍 Поиск">
    </div>
    <div class="question-list">
        {% for question in questions %}
        <div class="question-item">
            <a href="{% url 'edit_question' question.pk %}">
                <h3>Вопрос №{{ forloop.counter }}</h3>
                <p>{{ question.text }}</p>
                <ul>
                    {% for answer in question.answers.all %}
                    <li class="{% if answer.correct %}correct{% else %}incorrect{% endif %}">
                        {{ answer.text }}
                    </li>
                    {% endfor %}
                </ul>
            </a>
        </div>
        {% empty %}
        <p>Вопросы не найдены.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
