.profile-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
	  background-color: #ffffff5e;
	  border-radius: 30px;
	  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    z-index: 1999;
    border: 1px solid #42e24a;
    position: relative;
    z-index: 1; /* Убедитесь, что форма находится выше других элементов */
}

.profile-info {
    margin-bottom: 20px;
}

.profile-info p {
    font-size: 16px;
    margin: 10px 0;
}

.logout-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4269e2;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #3459b8;
}
