a {
    text-decoration: none;
}



.search-bar {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	
}

.search-bar input[type='text'] {
	width: 100%;
	max-width: 600px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 25px;
	font-size: 16px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	background-color: #ffffff5e;
}

.search-bar input[type='text']:focus {
	outline: none;
	border-color: #007bff;
}

.questions-container {
	background-color: #ffffff5e;
	border-radius: 30px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
	overflow: hidden;
	z-index: 2;
	position: relative;
	

}

.question-list {
	max-height: 540px;
	overflow-y: auto;
	padding-right: 10px; /* Убираем обрезание текста за scrollbar */

}

.question-item {
	padding: 15px;
	margin-bottom: 15px;
	border-radius: 10px;
	background-color: #f9f9f969;
	border: 1px solid #e0e0e0;
	transition: box-shadow 0.3s;
	

}

.question-item:hover {
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	background-color: #f0f8ff;
}

.question-item h3 {
	font-size: 20px;

	margin-bottom: 10px;
	color: rgba(110, 110, 110, 0.644);
}

.questions-container h2 {
	text-align: center;
	font-size: 24px;
	color: rgba(110, 110, 110, 0.644);
}

.question-item p {
	font-size: 16px;
	color: rgba(110, 110, 110, 0.644);
	margin-bottom: 10px;
}

.question-item ul {
	list-style-type: none;
	padding-left: 0;
	
}

.question-item li {
	font-size: 16px;
	margin-bottom: 5px;
	
}

.question-item li.correct {
	color: #317e33a4;
	font-weight: bold;
}

.question-item li.incorrect {
	color: #c03228a8;
	font-weight: bold;
}

/* Стили для прокрутки */
.question-list::-webkit-scrollbar {
	width: 10px;
}

.question-list::-webkit-scrollbar-thumb {
	background: #007bff;
	border-radius: 10px;
}

.question-list::-webkit-scrollbar-track {
	background: #e0e0e0;
	border-radius: 10px;
}

/* Адаптивные стили */
@media (max-width: 768px) {
	.questions-container {
		padding: 15px;
	}

	.question-item h3 {
		font-size: 18px;
	}

	.question-item p {
		font-size: 14px;
	}

	.question-item li {
		font-size: 14px;
	}
}
