{% extends "home/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
<div class="about-container">
  <div class="about-text">
    <h1>О "Группе Астра"</h1>
    <p>
        «Группа Астра» — один из лидеров российского рынка информационных технологий в области разработки программного обеспечения (ПО) и средств защиты информации. В команде сегодня трудится свыше 2 300 высокопрофессиональных сотрудников, а программные продукты «Группы Астра» используются во всех отраслях экономики: в ведущих энергетических и нефтегазовых компаниях, в организациях финансового сектора, а также в госкомпаниях и госкорпорациях, в медицине и образовании.
        <br>
        <br>
        «Группа Астра» создает системное и прикладное ПО, а также сервисы, которые удовлетворяют потребности заказчиков при создании и проектировании ИТ-инфраструктур.
    </p>
  </div>
  <div class="about-image">  
    <img src="{% static 'img/astra_info.png' %}" alt="Инфографика о компании">
  </div>
</div>
{% endblock %}
